(
  name: Some("table"),
  width: 4,
  height: 4,
  tiles: [
    /*[0]*/ (),
    /*[1]*/ (),
    /*[2]*/ (),
    /*[3]*/ (),
    /*[4]*/ (
      left_wall: Some(1672),
    ),
    /*[5]*/ (
      left_wall: Some(1673),
      right_wall: Some(1674),
    ),
    /*[6]*/ (),
    /*[7]*/ (),
    /*[8]*/ (),
    /*[9]*/ (
      left_wall: Some(1672),
    ),
    /*[10]*/ (
      left_wall: Some(1673),
      right_wall: Some(1674),
    ),
    /*[11]*/ (),
    /*[12]*/ (),
    /*[13]*/ (),
    /*[14]*/ (),
    /*[15]*/ (),
  ],
)